<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>浩沅-登录</title>
</head>
<body>
    <div class="container">
        <div class="login-area">
            <form action="" id="admin-login" method="POST">
                用户名：<input type="text" name="username" required><br>
                密　码：<input type="password" name="password" required><br>
                <button type="submit">登录</button>
                <button type="reset">重置</button>
            </form>
        </div>
    </div>
</body>
<script src="/Public/assets/jquery-3.3.1.min.js"></script>
<script>
    
</script>
</html>
